.find-review {
	.search-form {
		bottom: -67px;
		background-color: #f8f8f8;
		width: 100%;
    font-size: 20px;
		.form-inline {
			margin: 0;
			padding: 37px 0px 37px 0px;
      background-color: #f8f8f8;
			input {
				background-color: #e2e2e2;
				width: 100%;
			}
		}
		#review-form {
			display: flex;
			align-items: center;
			width: 100%;
			.algolia-places {
				width: 100%;
				input {
					background-color: #e2e2e2;
					color: grey;
				}
				.ap-input-icon svg {
					fill: grey;
				}
			}
			.btn-find-2 {
				background-color: #514FB0;
        outline: none;
        border: none;
        padding: 4px 18px;
        margin-left: 10px;
        color: var(--text-color);
        font-family: var(--button-text-style);
        font-weight: bold;
        border-radius: 3px;
        border: 0;
			}
		}
	}
}

#map {
  height: 70vh;
}

@media (max-width: 900px) {
  .d-flex {
    display: block !important;
  }

  .cards-container {
    width: 100%;
  }

  #map {
    height: 30vh;
  }

  .ap-input-icon svg {
    display: none;
  }
}
