header {
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
	url("https://images.unsplash.com/photo-1513584684374-8bab748fbf90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1346&q=80");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 389px;
	padding: 20px 50px 20px 0px;
}

header .header-content {
	display: flex;
	justify-content: center;
	align-items: end;
	flex-direction: column;
  padding: 85px 72px 41px 55px;
}

header .header-content p {
	padding: 10px 0 30px 0;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	max-width: 600px;
	text-align: left;
}

header .header-content h1 {
	font-size: 3rem;
	font-weight: bolder;
	font-family: "Poppins";
	color: #fff;
  text-align: left !important;
}

header {
  position:relative;
  .search-form-banner {
    position: absolute;
    bottom: -67px;
    background-color: white;
    box-shadow: 0px 2px 6px grey;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
    .form-inline {
      margin: 0;
      padding: 37px 0px;
    }
     .text-search {
      font-family: 'Poppins', sans-serif;
      color: #514FB0;
      font-weight: bold;
    }
    #main-form {
      display: flex;
      align-items: center;
      .algolia-places {
        width: 596px;
        input {
          background-color: #e2e2e2;
          color: grey;
        }
        .ap-input-icon svg {
          fill: grey;
        }
      }
      .btn-find {
        background-color: #514FB0;
        outline: none;
        border: none;
        padding: 7px 20px;
        margin-left: 10px;
        color: var(--text-color);
        font-family: var(--button-text-style);
        font-weight: bold;
        border-radius: 3px;
        border: 0;
      }
    }
  }
}
.btn-esq {
  color: yellow;
  background-color: blue;
  position: absolute;
}

.btn-dir {
  color: yellow;
  background-color: blue;
  position: absolute;
}

.propaganda {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 40px;
  height: 370px;
  .text-reviews {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 50px 20px 0px;
    flex: 0 0 60%;
    #local {
      font-family: 'Poppins', sans-serif;
      color: #514FB0;
      font-weight: bold;
    }
    h1 {
      font-family: 'Poppins', sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 26px;
    }
    p {
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      font-weight: 300;
    }
    .home-btn {
      width: 30%;
      background-color: #514FB0;
      color: white;
      padding: 8px 5px;
      text-align: center;
      font-weight: bold;
    }
  }
  .imagens-card-home {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    justify-content: space-between;
    img.imagem-maior {
      width: 433px;
    }
    .imagens-menores {
      display: flex;
      justify-content: space-between;
      img {
        width: 210px;
      }
    }
  }
}
