textarea#content-review {
	width: 650px;
	height: 330px;
	border: 2px solid #e8e8e8;
	background-color: #f8f8f8;
	outline: none;
	resize: none;
  margin-right: 30px;
}

.form-fields {
	display: flex;
}

.flex-fields {
  display: flex;
}

.form-fields .select-fields {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	width: 325px;
}

.form-fields .select-fields input {
	width: 100%;
	margin-left: 16px;
	height: 60px;
	border: 2px solid #e8e8e8;
	background-color: #f8f8f8;
	outline: none;
	text-align: center;
}

.back-property {
  padding-bottom: 20px;
}


@media (max-width: 900px) {
  .form-fields: {
    display: block !important;
  }

  .form-group {
    display: block !important;
  }

  textarea#content-review {
    width: 100%;
    height: 25vh;
  }

  .flex-fields {
    display: block;
  }

  .h2-review {
    margin-bottom: 15px !important;
    margin-top: 20px;
  }

  .select-fields {
    margin-bottom: 15px;
  }
}
