<!-- Navbar Section -->
<nav>
  <div class="nav-container">
    <%= link_to "/", class: "navbar-brand-home" do %>
    <%= image_tag "logo-una-consulta.svg" %>
    <% end %>
    <ul>
      <% if user_signed_in? %>

      <!-- Avatar -->

      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="/user_reviews">My Reviews</a>
          <a class="dropdown-item" href="/profile">Profile</a>
          <a class="dropdown-item" href="/users/sign_out">Log Out</a>

        </div>
      </li>
      <% else %>
      <%= link_to "Log In", new_user_session_path, class: "btn-sign-in" %>
      <%= link_to "Sign Up", new_user_registration_path , class: "btn-sign-up" %>
      <!-- <li><a href="#" class="btn-sign-in">Sign In</a></li>
        <li><a href="#" class="btn-sign-up">Sign Up</a></li> -->
      <% end %>
    </ul>
  </div>
</nav>

