<header>
  <div class="header-content">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h1>Find properties<br>or leave reviews</h1>
          <p>Research tenants' reputation before renting.<br>Write a review and leave your opinion<br>about the places you've lived.</p>
        </div>
        <div class="carousel-item">
          <h1>Find a properties</h1>
          <h1>Or leave reviews</h1>
          <p>Research tenants' reputation before renting.<br>Write a review and leave your opinion<br>about the places you've lived.</p>
        </div>
        <div class="carousel-item">
          <h1>TESTADANDO 2<br>or leave reviews</h1>
          <p>Research tenants' reputation before renting.<br>Write a review and leave your opinion<br>about the places you've lived.</p>
        </div>
      </div>

      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <div class="search-form">

        <div class="form-group form-inline d-flex justify-content-center align-items-center">
          <%= form_tag nil, id: "main-form", method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control user_input",
              placeholder: "Type a property address",
              required: true
            %>
          <button id="find" class="btn-find">
            <i class="fas fa-location-arrow"></i>
          </button>
          <% end %>
        </div>
        <div class="arrows" style="position:relative">
          <a class="carousel-control-prev btn-esq" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
    </div>
  </div>

</header>

