#carouselExampleControls {
  height: 100%;
  .carousel-inner {
    height: 100%;
    .carousel-item {
      height: 100%;
      .container-banner {
        padding: 0;
        width: 80%;
        margin: auto;
      }
      .banner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        position: relative;

      }
    }
  }
  .banner-buttons {
    background-color: #514FB0;
    position: absolute;
    bottom: 45px;
    right: 10%;
    display: flex;
    z-index: 1;
    .btn-esq, .btn-rgt {
      flex: 0 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 12px;
      font-size: 12px;
    }
    .btn-rgt {
      color: white;

    }
    .btn-esq {
      background-color: white;
      color: black;
    }
  }
}
