/* Variables for fonts and colors */
:root {
	--button-color-signin: #4717b0;
	--button-color-signup: #33837e;
	--text-color: #fff;
}

/*-----Styles begin here----- */

/* Header Buttons */
.btn-header {
	text-align: center;
	color: var(--text-color);
	padding: 15px 25px;
	margin-left: 12px;
	border-radius: 3px;
	font-family: var(--button-text-style);
	border: 0;
}

/* Navbar Buttons */
.btn-sign-in {
	background-color: var(--button-color-signin);
	outline: none;
	border: none;
	padding: 10px 20px;
	color: var(--text-color);
	font-family: var(--button-text-style);
	font-weight: bold;
	border-radius: 3px;
	border: 0;
}

.btn-sign-up {
	background-color: var(--button-color-signup);
	outline: none;
	border: none;
	padding: 10px 20px;
	margin-left: 10px;
	color: var(--text-color);
	font-family: var(--button-text-style);
	font-weight: bold;
	border-radius: 3px;
	border: 0;
}

.btn-find {
	background-color: var(--button-color-signup);
	outline: none;
	border: none;
	padding: 10px 20px;
	margin-left: 10px;
	color: var(--text-color);
	font-family: var(--button-text-style);
	font-weight: bold;
	border-radius: 3px;
	border: 0;
}

.btn-find-2 {
	background-color: #33837E;
	outline: none;
	border: none;
	padding: 5px 10px;
	margin-left: 10px;
	color: white;
	font-family: var(--button-text-style);
	font-size: 20px;
	font-weight: bold;
	border-radius: 3px;
	border: 0;
  }

.btn-purple {
	background-color: #4717b0 !important;
	color: white;
}

.btn-purple:hover {
	background-color: #210560 !important;
	color: white;
}

// Log In page button style
.btn-facebook {
	background: #3b5998;
	color: #fff;
	font-weight: bold;
	padding: 10px;
}

.btn-facebook:hover {
	color: #fff;
}

.btn-review {
    opacity: 0.8;
    font-weight: bold;
}
