.card-review {
    position: relative;
    border-radius: 5px;
    .btn {
        background-color: #514fb0;
        color: white;
    }
    .card-infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-infos b {
        font-weight: 600;
    }
    .links {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.card-review p {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.search-form {
    margin-right: 4px;
    .btn {
        color: white;
        background-color: #33837E;
    }
}

.cards-container {
    overflow-y: scroll;
    height: 70vh;
    width: 80%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cards-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.cards-container {
    -ms-overflow-style: none;
}

.search-form {
  margin-right: 4px;
  width: 78%;
  margin: 0 auto;
}
