// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "navbar_home";
@import "footer";
@import "card";
@import "cards";
@import "banner";
@import "buttons";
@import "map";
@import "card-review";
@import "signin";
@import "signup";
@import "user-reviews";

/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/* General website CSS Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	font-family: "Montserrat", sans-serif;
}

a {
	text-decoration: none !important;
}

li {
	list-style: none !important;
}
