.navbar-lewagon {
  justify-content: space-between;
  background: rgb(9,9,121);
  background: -webkit-linear-gradient(left, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 22%, rgba(255,255,255,1) 22%);
  background: -o-linear-gradient(left, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 22%, rgba(255,255,255,1) 22%);
  background: linear-gradient(to right, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 22%, rgba(255,255,255,1) 22%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#090979",endColorstr="#ffffff",GradientType=1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// header nav {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 90%;
//   margin: 0 auto;
//   padding-top: 20px;
// }

// header nav ul {
//   display: flex;
//   /* width: 160px; */
//   justify-content: space-between;
// }

// header nav ul li {
//   padding-left: 15px;
// }

// .header-btn-group {
//   max-width: 400px;
//   display: flex;
//   justify-content: space-between;
// }

// header nav ul li a {
//   font-family: "Montserrat";
//   font-weight: bold;
//   color: #fff;
// }
