nav {
	padding: 20px 0px;
	position: absolute;
	width: 100%;
  z-index: 10;
  .navbar-brand-home {
    margin-top: 5px;
  }
}

.avatar {
	width: 40px;
	border-radius: 50%;
}

nav .nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0 !important;
}

nav ul li {
	padding-left: 15px;
}

.avatar-xs {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
