.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// header nav {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 90%;
//   margin: 0 auto;
//   padding-top: 20px;
// }

// header nav ul {
//   display: flex;
//   /* width: 160px; */
//   justify-content: space-between;
// }

// header nav ul li {
//   padding-left: 15px;
// }

// .header-btn-group {
//   max-width: 400px;
//   display: flex;
//   justify-content: space-between;
// }

// header nav ul li a {
//   font-family: "Montserrat";
//   font-weight: bold;
//   color: #fff;
// }
