.navbar-lewagon-home {
	display: flex;
	justify-content: space-between;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 16px 80px;
}

.navbar-lewagon-home .navbar-collapse {
	flex-grow: 0;
}

.navbar-lewagon-home .navbar-brand img {
	width: 120px;
}

.navbar-lewagon-home a.nav-link {
	color: #fff;
	font-weight: bold;
}

// header nav {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 90%;
//   margin: 0 auto;
//   padding-top: 20px;
// }

// header nav ul {
//   display: flex;
//   /* width: 160px; */
//   justify-content: space-between;
// }

// header nav ul li {
//   padding-left: 15px;
// }

// .header-btn-group {
//   max-width: 400px;
//   display: flex;
//   justify-content: space-between;
// }

// header nav ul li a {
//   font-family: "Montserrat";
//   font-weight: bold;
//   color: #fff;
// }
