.signup-container {
	margin: 130px auto;
	width: 700px;
	padding: 40px;
	background: #fff;
	border-radius: 5px;
}

.signup-container h2 {
	text-align: center;
	font-family: "Poppins";
	font-weight: 700;
}

.signup-container {
	.form-control {
		display: block;
		width: 100%;
		height: calc(1.5em + 0.75rem + 2px);
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.5;
		color: #495057;
		background-color: #f0f0f5;
		background-clip: padding-box;
		border: 2px solid #ced4da;
		border-radius: 2px;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
}

.signup-container {
	fieldset.user_remember_me {
		margin: 10px 0;
	}

	.form-actions {
		display: flex;
		flex-direction: column;
	}
}

.signup-container {
	.form-actions {
		input.btn {
			width: 100%;
			padding: 10px;
			background-color: #4717b0;
			margin-bottom: 15px;
			font-weight: bold;
			color: #fff;
		}
	}
}

.signup-container {
	.form-control:focus {
		outline: none;
		box-shadow: none;
	}
}

.btn-group {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
