.user-review-card {
    height: 130px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .small-pic {
      height: 100%;
  }

  h2 {
    font-family: 'Ubuntu', sans-serif;
  }
  .user-review-card p {
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .user-review-card .user-page-review-infos {
    .link-user-review {
        color: blueviolet;
        font-weight: bold;
    }
  }