.user-review-card {
    height: 130px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
  }

  .small-pic {
      height: 100%;
  }

  h2 {
    font-family: 'Ubuntu', sans-serif;
  }
  .user-review-card p {
    margin-bottom: 0;
    margin-top: 8px;
  }

  .user-review-card .user-page-review-infos {
    .link-user-review {
        color: blueviolet;
        font-weight: bold;
    }
  }

  .review-content {
    width: 80%;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }

  .outer-div {
    width: 100%;
    position: relative;
  }

  .inner-div {
    width: 70%;
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    position: absolute;
    left: 16%;
  }


  .user-profile-card .card-body-content {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }