// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-bar-rating/dist/themes/css-stars";
@import 'flatpickr/dist/flatpickr.css';

// Your CSS partials
@import "components/index";
@import "pages/index";

/* In the "external libraries" section */
@import 'mapbox-gl/dist/mapbox-gl';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

body {
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
